<input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">
<header class="site-header">
    <div class="wrapper">
        <div class="site-branding">
            <a class="title" href="/">anastasov blog</a>
            <p class="desc">Interesting part of web front-end.</p>
        </div>
        <label id="nav-toggle" for="nav-main-toggle" class="fas" for=""><span></span></label>
        <nav class="navigation">
            <ul>
                <li><a class="fas fa-key" href="{{ site.baseurl }}/login/">Login</a></li>
                <li><a class="fas fa-newspaper" href="{{ site.baseurl }}/">Blog</a></li>
                <li><a class="fas fa-address-card" href="{{ site.baseurl }}/about/">About</a></li>
                <li><a class="fas fa-phone-square-alt" href="{{ site.baseurl }}/contacts/">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>