@keyframes navitemsin {
    from {
        opacity: 0;
        transform: translate(0, -3em);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes elementsin {
    from {
        opacity: 0;
        transform: translate(0, -2em);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes togglein {
    0% {
        opacity: 0;
        transform: translate(0, -1em);
    }
    35% {
        transform: translate(0, 0);
    }
    70% {
        transform: translate(0, -1em);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes formshake {
    0% {
        opacity: 0;
        transform: translateX(-3em);
    }
    35% {
        transform: translateX(3em);
    }
    70% {
        transform: translateX(-3em);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}