<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/jpg" href="https://www.pngkit.com/png/full/705-7052629_airbus-a-favicon.png"/>
</head>
<body class="{{ page.title | slugify }}">
    <div class="site">
        {% include header.html %}

        {{ content }}

        {% include footer.html %}
    </div>
</body>
</html>